.chats {
    color: white;
    background-color: lightgray;
    padding: 1rem;
}

.chat-msg__text {
    border: 2px solid grey;
    border-radius: .5rem;
    padding: .2rem .5rem;
    background-color: darkorange;
}