.chats div {
    color: white;
    background-color: black;
}

.chat-msg {
    border-radius: .2rem;
    padding: .5rem;
    background-color: black;
}
.chat-msg__text {
    border: 2px solid grey;
    border-radius: .5rem;
    padding: .2rem .5rem;
    background-color: darkorange;
}